<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8" />
  <title>Redis Monitor</title>
  <link rel="stylesheet" type="text/css" href="/static/res/css/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="Keywords" content="redis monitor, python web, flask redis" />
  <meta name="Description" content="Redis Monitor: a python flask redis monitor project." />
  <link rel="shortcut icon" href="/static/img/favicon.png" />
  <link rel="bookmark" href="/static/img/favicon.png" />
  <style type="text/css">
	 #new_port {width: 70px;}
	 #new_host, #new_password, #new_email {width: 110px;}
  </style>
  </head>
  <body>
    <div id="root">

    </div>
    <script src="../static/build/bundle.js" type="text/javascript"></script>

  </body>
</html>